body {
  font-family: Lato, sans-serif;
  color:#41525e;
  font-size: 16px;
  line-height: 1.5;
}

/* TEXT */

p, ul {
  margin-bottom: 1.5em;
}

h1 {
  font-size: 30px;
  font-weight: 900;
  line-height: 1.33;
  margin-bottom: 32px;
}

h2 {
  font-size: 26px;
  font-weight: 700;
  line-height: 1.38;
  margin-bottom: 24px;
}

h1, h2 {
  color: #172735;
  text-align: center;
}

/* SECTIONS  */

header,
section,
footer {
  padding-top: 40px;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 40px;
}

.testimonial {
  background-color: rgba(231, 233, 234, 0.3);
}

.contact {
  background-color: #172735;
  color: white;
}

.contact h1 {
  color: white;
}

.wrap {
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
}

/* NAVIGATION */

.navigation {
  display: flex;
  justify-content: flex-end;
}

.navigation a {
  padding: 11px 22px;
  margin-left: 4px;
}

.navigation a:hover {
  text-decoration: underline;
}

.navigation .logo {
  margin-right: auto;
  margin-left: 0;
}

/* INTRO */

.two-column {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 54px; 
}