body {
  font-family: Lato, sans-serif;
  color:#41525e;
  font-size: 18px;
  line-height: 1.5;
}

/* TEXT */

p, ul {
  margin-bottom: 1.5em;
}

h1 {
  font-size: 40px;
  font-weight: 900;
  line-height: 1.33;
  margin-bottom: 32px;
}

h2 {
  font-size: 26px;
  font-weight: 700;
  line-height: 1.38;
  margin-bottom: 24px;
}

h1, h2 {
  color: #172735;
  text-align: center;
}

/* IMAGES */

img {
  width: 100%;
}

.rounded-image {
  border-radius: 8px;
  box-shadow: 0px 20px 20px rgba(0, 0, 0, 20%);
}

/* SECTIONS  */

header,
section,
footer {
  padding-top: 40px;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 40px;
}

.testimonial {
  background-color: rgba(231, 233, 234, 0.3);
}

.contact {
  background-color: #172735;
  color: white;
}

.contact h1 {
  color: white;
}

.wrap {
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
}

/* HEADER */

header {
  background-color: #172735;
  background-image: url("assets/top_bg.png");
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: cover;
  color: white;
  padding-bottom: 310px;
}

/* NAVIGATION */

.navigation {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.navigation a {
  padding: 11px 22px;
  margin-left: 4px;
  text-decoration: none;
  color: white;
  font-size: 14px;
  line-height: 1;
}

.navigation a:hover {
  text-decoration: underline;
}

.navigation .logo {
  margin-right: auto;
  margin-left: 0;
  width: 145px;
  height: 28px;
}

svg {
  width: 100%;
  height: 100%;
}

.navigation-contact {
  background-color: #4bcc8c;
}

.navigation-contact:hover {
  background-color: #5f35d4;
}

.navigation-hamburger {
  display: none;
}

@media (max-width: 900px) {
  .nav-item {
    display: none;
  }
  .navigation-hamburger {
    display: block;
  }
}

/* INTRO */

.two-column {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 820px) {
  .two-column {
    max-width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 54px; 
  }
  .two-column .rounded-image {
    grid-column: 1;
    grid-row: 1;
  }
}